@import "vars";
@import "bootstrap/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* Custom styles */

body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    line-height: 1.2;
}

.app-badge {
    height: 4.5rem;
}

section#features {
    background-color: $primary-bg-subtle;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $dark;
    color: $white;
}

.icon-feature {
    font-size: 4rem;
}

.masthead {
    background-color: $primary-bg-subtle;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.navbar-brand {
    display: table;
}

.navbar-brand span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
    font-family: "Petrona", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    font-optical-sizing: auto;
}

.navbar-brand .logo {
    width: 60px;
    height: 60px;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-gradient {
    background: -webkit-linear-gradient(#94d196, #68926B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}